@model Theater.Presentation.Models.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
    ViewBag.BodyId = "Profile";
}


<link rel="stylesheet" href="~/assets/sass/main.css" />

<section class="profile">
    <div class="container">
        <h1 class="mb-2">Your Profile</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><h5>Username</h5></td>
                    <td><p>@Model.UserName</p></td>
                </tr>
                <tr>
                    <td><h5>Name</h5></td>
                    <td><p>@Model.Name</p></td>
                </tr>
                <tr>
                    <td><h5>Surname</h5></td>
                    <td><p>@Model.Surname</p></td>
                </tr>
                <tr>
                    <td><h5>Email</h5></td>
                    <td><p>@Model.Email</p></td>
                </tr>
                <tr>
                    <td><h5>Phone Number</h5></td>
                    <td><p>@Model.PhoneNumber</p></td>
                </tr>
            </tbody>
        </table>

        <a href="@Url.Action("EditProfile", "UserProfile")" class="btn btn-primary">Edit Information</a>
    </div>
</section>

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
            </div>
            <div class="modal-body">
                Your profile has been updated successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.2/dist/umd/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            if ('@ViewBag.EditSuccess' !== '') {
                $('#successModal').modal('show');
            }
        });
    </script>
}



