@model IEnumerable<Theater.Application.Modules.ShowDateModule.Queries.SeatDto>

@{
    ViewBag.Title = "ShowDate Details";
    var showDateId = ViewBag.ShowDateId;
}

<h2>ShowDate Details</h2>
<p>
    <strong>Poster Title:</strong> @ViewBag.PosterTitle <br>
    <strong>Show Date:</strong> @ViewBag.ShowDate
</p>
<p>
    <span style="color: red;">Red seats</span> do not have a ticket assigned to them, while
    <span style="color: green;">green seats</span> have a ticket and the user can purchase them.
    You can add or edit the ticket by clicking on the seat.
    <span style="color: black;">Black seats</span> mean that tickets assigned to those seats have already been purchased and cannot be edited.
</p>

<div class="seating-chart">
    @foreach (var seatGroup in Model.GroupBy(s => s.Row).OrderBy(g => g.Key)) // Order by row alphabetically
    {
        <div class="seating-row">
            <div class="row-label">@seatGroup.Key</div>
            @foreach (var seat in seatGroup)
            {
                if (seat.IsTicketPurchased)
                {
                    <div class="ticket-purchased" title="Seat @seatGroup.Key@seat.Number">
                        @seat.Number
                    </div>
                }
                else
                {
                    var seatClass = seat.IsPurchased ? "seat purchased" : "seat available";
                    <a href="@Url.Action("UpsertTicket", "ShowDate", new { showDateId = showDateId, seatId = seat.Id })" class="seat-link">
                        <div class="@seatClass" data-showdateid="@showDateId" data-seatid="@seat.Id" title="Seat @seatGroup.Key@seat.Number">
                            @seat.Number
                        </div>
                    </a>
                }
            }
        </div>
    }
</div>
<a asp-action="Index" asp-controller="ShowDate" class="btn btn-secondary mt-3">Go Back</a>

@section addjs {
    <script>
        $(document).ready(function () {
            $(".seat").click(function () {
                var seatId = $(this).data("seatid");
                var showDateId = $(this).data("showdateid");
                console.log("SeatId: " + seatId + ", ShowDateId: " + showDateId);

                // Redirect to the Upsert view
                window.location.href = '/showdate/upsertticket/' + showDateId + '/' + seatId;
            });
        });
    </script>
}


<style>
    .seating-chart {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .seating-row {
        display: flex;
        align-items: center;
    }

    .row-label {
        width: 30px;
        text-align: center;
        font-weight: bold;
        margin-right: 10px;
    }

    .ticket-purchased {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        margin: 0 5px;
        cursor: pointer;
        background-color: black;
        color: white;
        cursor: default;
    }

    .seat {
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 30px;
        margin: 0 5px;
        cursor: pointer;
    }

        .seat.purchased {
        background-color: #ccffcc;
        }

        .seat.available {
            background-color: #ffcccc;
        }

    .seat-link {
        text-decoration: none;
        color: inherit;
    }
</style>
